
/* BZ Lite - a Drupal theme by Brade - www.bradezone.com */

/* To customize the main color or any other styles,
 * create and edit local.css in this directory.
 * Main color suggestions: #f30, #493, #07b
 */

/* main color */
a, .views-display a,
.views-display a:visited,
.block a.active,
.calendar-calendar td .inner div.day a,
#page-manager-edit .actions li a {
    color: #f30
}

#primary {
    background: #f30
}

/* main elements and links */
body {
    background: #fff;
    color: #333;
    font: 13px Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0
}

#page {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0
}

#content-content,
.block .content, .help {
    line-height: 18px
}

a:hover,
.views-display a:hover {
    color: #333
}

h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: .8em 0 .4em
}

h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin: .8em 0 .4em
}

h4 {
    font-size: 13px;
    font-weight: bold;
    margin: .8em 0
}

table {
    margin: 5px 0 10px;
    width: 100%;
    clear: both
}

th,
td {
    padding: 2px 5px
}

/* forms */
fieldset {
    border: 1px solid #ddd;
    margin-top: 5px
}

legend {
    font-size: 16px;
    line-height: 22px
}

legend a {
    text-decoration: none
}

input,
select,
textarea {
    font: 13px / 18px Helvetica, Arial, sans-serif
}

.form-text,
textarea,
select {
    border: 4px solid #ddd;
    padding: 4px
}

input[type=button] {
    border: 4px solid #bbb;
    padding: 1px;
    background: #ddd;
    font-weight: bold;
    cursor: pointer
}

input[type=button]:hover {
    background: #eee
}

select,
textarea {
    padding: 3px
}

optgroup {
    font: 13px Helvetica, Arial, sans-serif;
    font-weight: bold
}

option {
    padding: 0 9px;
    font-weight: normal
}

.form-submit {
    border: 4px solid #333;
    padding: 3px;
    font-weight: bold;
    background: #666;
    color: #fff;
    cursor: pointer
}

.form-submit:hover {
    background: #888
}

/* header */
#logo-title {
    float: left;
    padding-bottom: 20px
}

#logo {
    float: left;
    margin-right: 10px
}

#logo img {
    display: block
}

#name-and-slogan {
    float: left
}

h1 {
    font-size: 32px;
    font-weight: normal;
    margin: .2em 0 .4em
}

h1#site-name {
    margin: 0 0 .2em
}

h1 a {
    text-decoration: none
}

#site-slogan {
    font-size: 16px
}

#search-box {
    float: right;
    padding-bottom: 20px
}

#header-region {
    clear: both;
    position: relative
}

/* main navigation */
#navigation {
    padding-bottom: 20px;
    clear: both
}

#navigation li {
    padding: 0;
    float: left
}

#navigation a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 10px
}

#navigation a.active {
    text-decoration: underline
}

#primary a:hover {
    background: #333
}

#secondary {
    background: #555
}

#secondary a:hover {
    background: #888
}

/* sidebars and blocks */
.sidebar {
    width: 240px;
    position: relative
}

#sidebar-left {
    float: left;
    margin-right: 20px
}

#sidebar-right {
    float: right;
    margin-left: 20px
}

.block {
    background: #eee;
    border: 1px solid #ddd;
    margin-bottom: 20px
}

.block h2 {
    background: #ddd;
    margin: 0;
    font-size: 16px;
    padding: 0 10px;
    font-weight: bold;
    line-height: 28px
}

.block .content {
    padding: 10px
}

.block .item-list ul li {
    margin-left: .5em
}

.block p {
    margin-top: 0
}

.block a,
legend a,
.block .pager a.active {
    color: #333
}

.block a:hover,
legend a:hover {
    color: #888
}

.block li.active-trail > a {
    font-weight: bold
}

#user-login-form .form-submit {
    margin-bottom: 10px
}

#user-login-form .item-list ul {
    margin: 0;
    padding: 0
}

#user-login-form .item-list li {
    margin: 0;
    padding: 0;
    list-style: none
}

#content div.block {
    position: relative;
    clear: both;
    margin: 20px 0 0
}

.block table {
    margin: 0
}

td.block {
    background: inherit;
    border: inherit;
    margin-bottom: inherit
}

/* content area */
#main {
    float: left;
    width: 440px;
    position: relative;
    padding-bottom: 20px
}

.one-sidebar #main {
    width: 700px
}

.no-sidebars #main {
    width: 100%
}

.node {
    margin-top: 20px
}

.tabs.secondary {
    line-height: 24px
}

#page dd.a div.form-item,
#page dd.b div.form-item,
dl.multiselect dt {
    height: 32px;
    line-height: 32px;
    margin: 2px 5px
}

#user-admin-buttons,
#node-admin-buttons {
    margin-top: 3px
}

#mission {
    font-size: 16px
}

.picture,
.profile .picture {
    float: right;
    margin: 0 0 10px 10px;
    padding: 6px;
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden
}

.picture img {
    display: block
}

.meta {
    font-size: 11px
}

.comment,
#profile .profile {
    border-left: 4px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    background: #eee;
    overflow: hidden
}

.comment h3 {
    margin-top: 0
}

.comment h3 a {
    color: #333;
    text-decoration: none
}

.user-signature {
    border-top: 1px solid #ccc;
    clear: both
}

ul.links.inline {
    display: block;
    font-size: 11px
}

ul.links.inline li {
    padding: 0;
    display: inline;
    margin-right: 10px
}

div.messages,
div.notice,
div.warning,
div.error,
div.status {
    line-height: 22px;
    font-size: 16px;
    border: 4px solid;
    margin-bottom: 10px;
    padding: 5px
}

div.messages a {
    color: #333
}

div.messages a:hover {
    color: #888
}

div.messages ul {
    margin: 0
}

div.notice {
    color: #03f;
    background: #ccf
}

div.warning {
    color: #c90;
    background: #ffc
}

div.error {
    color: #f00;
    background: #fcc
}

div.status {
    color: #090;
    background: #cfc
}

/* module overrides */
#admin-menu li li {
    filter: Alpha(opacity=100);
    opacity: 1.0
}

table.view-enabled td.view-name,
table.view-enabled td.view-ops {
    background: #ddd
}

form#views-ui-preview-form input#preview-submit {
    margin-top: 18px
}

body form#views-ui-list-views-form {
    overflow: hidden
}

#views-ui-edit-view-form {
    padding-top: 10px
}

.views-tabset .extra form {
    padding: 5px 0
}

#edit-views-apply,
#edit-views-reset {
    margin-top: 1.4em
}

#edit-views-reset {
    margin-left: 4px
}

.poll {
    clear: both
}

#book-outline {
    min-width: 0
}

.book-navigation .menu {
    border-color: #ddd
}

.book-navigation .page-links {
    border-color: #ddd;
    margin: 10px 0
}

a.feed-icon {
    display: block;
    margin-top: 10px
}

.field-item img {
    display: block;
    max-width: 80%;
    height: auto;
    padding: 6px;
    background: #eee;
    border: 1px solid #ddd;
    float: right;
    margin: 10px 0 10px 10px;
    clear: both
}

.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
    background-color: #eee
}

.calendar-calendar td.empty {
    background-color: #ddd
}

/* ubercart overrides */
table.uc-store-admin-table {
    display: block;
    float: left;
    width: 100%;
    background: #ddd;
    border: 0;
    padding: 1px 1px 0;
    margin: 0 0 20px
}

table.uc-store-admin-table tr {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%
}

#page td.uc-store-admin-panel {
    display: block;
    width: 100%;
    background: #fff;
    padding: 5px 0 0;
    margin: 0 0 1px
}

td.panel-show-link {
    padding-left: 15px
}

.summary-overview {
    border: 1px solid #ddd
}

#content-content .add-to-cart {
    padding: 10px 0
}

.product-info {
    font-weight: bold;
    margin-top: 10px
}

.product-image {
    background: #eee;
    border: 1px solid #ddd;
    padding: 6px;
    margin: 0 0 10px 10px
}

.product-image img {
    display: block;
    margin: 0 auto
}

.more-product-images img {
    margin: 6px 3px 0;
    float: left
}

.uc-price-display {
    padding: 0;
    margin: 0 6px 10px 10px;
    text-align: right
}

#continue-shopping-link a {
    border: 4px solid #bbb;
    background: #ddd;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 2px 6px
}

#continue-shopping-link a:hover {
    background: #eee
}

#line-items-div {
    border: 0 !important;
    background: #eee
}

#checkout-form-bottom {
    border: 0
}

.category-grid-products table,
table.category {
    border: 1px solid #ddd;
    border-width: 1px 0 0
}

.category-grid-products tbody {
    border: 0
}

.category-grid-products td,
table.category td {
    padding: 10px;
    border: 1px solid #ddd;
    border-width: 0 0 1px
}

.category-grid-products img,
table.category img {
    padding: 6px;
    background: #eee;
    border: 1px solid #ddd
}

.block-uc_cart a.active {
    color: #333
}

.block-uc_cart a.active:hover {
    color: #888
}

.order-review-table {
    width: 100%;
    border-width: 4px
}

#uc-cart-checkout-review-form .form-submit {
    margin: 5px 5px 5px 0
}

.order-pane {
    padding: 0 0 20px;
    margin: 0;
    border: 0
}

.pos-left {
    float: none
}

.address-select-box {
    background: #eee;
    padding: 10px;
    margin: 0
}

.address-select-box .form-item {
    margin: 0
}

#edit-addresses-wrapper label {
    display: inline
}

/* footer */
#footer-wrapper {
    text-align: center;
    border-top: 4px solid #ddd;
    padding-top: 20px;
    font-size: 11px
}

#footer ul {
    margin: 0;
    padding: 0;
    text-align: center
}

#footer li {
    list-style: none;
    padding: 0;
    margin: 0 3px;
    display: inline;
    position: relative;
    white-space: nowrap
}

#footer li ul {
    position: absolute;
    top: 12px;
    left: -4px;
    background: #eee;
    border: 1px solid #ddd;
    display: none
}

#footer li:hover ul {
    display: block
}

#footer .block {
    padding: 10px 0 0;
    margin: 0;
    background: none;
    border: none
}

#footer .block .content {
    padding: 0
}

#footer .block a.active {
    color: #333;
    text-decoration: none
}

#footer .block a.active:hover {
    color: #888
}

#footer .block li.active-trail > a {
    font-weight: normal;
    text-decoration: none
}
